<div class="column">
    <div class="has-text-centered">
        <p><strong>Follow</strong></p>
        <div class="buttons is-centered">
            <a class="button is-medium is-twitter" href="https://twitter.com/{{ site.twitter_username }}" target="_">
                <span class="icon"><i class="fab fa-twitter fa-lg"></i></span>
            </a>
            <a class="button is-medium is-github" href="https://github.com/{{ site.github_username }}" target="_">
                <span class="icon"><i class="fab fa-github fa-lg"></i></span>
            </a>
        </div>
    </div>
</div>
